.ie8 .menu-bar{
  margin: 0;
  padding: 0;
  
}
.ie8 .site-navigation{
  margin-top: -20px;
}
.ie8 .menu-bar .col-xs-24{
}
.ie8 .menu-bar ul{
  margin: 0;
  padding: 0;
}
.ie8 .menu-bar ul li{
  float: left;
  display: inline;
}
.ie8 .our-clients img.second-icon{
  display: none;
}
.ie8 .hp_slider .slide{
  background-size: auto !important;
}
.ie7 .screen-reader-text {
  display: none;
}
.ie7 .menu-bar ul li{
  float: left;
  display: inline;
}
.ie7 .site-footer{
  margin-top: 50px;
  clear: both;
  display: block;
}
.ie7 .latest_news img.news_arc{
  margin-top: -34px;
}
.ie7 .latest_news h3{
  margin-top: -9px;
}